@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>A major benefit of mHealth is its convenience. Wearable devices and other mobile technology 
    allow users to continuously track and manage certain health data without having to see their healthcare provider</p>

<p> My Mobile Health Care quickly and easily provides healthcare technology and programs to
    create a seamless wellbeing journey for employees </p>
